.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 253, 253, 0.979);
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  overflow: hidden;
  border-right: 4px solid #fff;
  white-space: nowrap;
  animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
}

.btn:hover {
  background-color: #ffffff;
}

/* Typing Animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
