.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  width: 30%;
  margin-bottom: 20px;
  background-color: #000000;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-item img {
  width: 100%;
  border-radius: 5px;
}

.project-item h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}
